@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: "Arsenal SC", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    /*text-align: center;*/
    text-decoration: underline;
    width: 50%;
    margin: 0 auto;
}
h1{
    border: solid 5px black;
   /* margin: 0px 50px 100px 200px;
    padding: 10px 200px 100px 5px;*/
}
div{
   
}